{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - {{ 'welcome'|trans }}{% endblock %}

{% block body %}
    <div class="product-details">
        <img src="{{ asset('images/minecraft/' ~ product.minecraftImage) }}" alt="{{ product.name }}">
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="minecraft-tooltip">
                {{ product.price }} diamonds
                <span class="tooltiptext">{{ 'in_game_currency'|trans }}</span>
            </p>
            <p>{{ 'stock'|trans }}: {{ product.stock }}</p>
            <p>{{ product.description }}</p>
        </div>
        <div class="product-actions">
            <form action="{{ path('app_cart_add', {'id': product.id}) }}" method="post">
                <button type="submit" class="btn-minecraft">{{ 'add_to_cart'|trans }}</button>
            </form>
            <a href="{{ path('app_product_index') }}" class="btn-minecraft">{{ 'back_to_products'|trans }}</a>
        </div>
    </div>
{% endblock %}